<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuck Norris Joke</title>
    <link rel="stylesheet" href="other.css">
</head>
<body>
    <h1>Chuck Norris Joke</h1>
    <p><%= joke %></p>
</body>
</html>